<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/responsive/1col-fixed.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="site-title">Sitename</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a href="#">Nav item 1</a></li>
        <li><a href="#">Nav item 2</a></li>
        <li><a href="#">Nav item 3</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="content">
        <h3>Headings</h3>
        <hr>
        <h1>Heading level 1</h1>
        <h2>Heading level 2</h2>
        <h3>Heading level 3</h3>
        <h4>Heading level 4</h4>
        <h5>Heading level 5</h5>
        <h6>Heading level 6</h6>
        <hr>
        <h3>Paragraphs</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut placeat minus quas possimus praesentium corrupti necessitatibus, labore aut eligendi distinctio optio, soluta nam commodi, magni consectetur voluptatum maxime porro minima!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quo a nobis, magnam placeat ut et atque ratione tempore dolore ad quod aperiam qui iusto molestias accusantium velit. Animi, sit!</p>
      </div>
    </div>
    <div class="footer">
      <p>&copy; Copyright 2018</p>
    </div>
  </div>
</body>
</html>