html,body{margin:0;padding:0}

/* layout */
.container {
  width: 800px;
  margin: 0 auto;
}
.main {
  float: left;
  width: 500px;
}
.navigation, .extra {
  float: right;
  width: 300px;
}
.footer {
  clear: both;
}

/* colors */
.header {
  background: #27566D;
  color: #fff;
}
.navigation {
  background: #55859C;
}
.extra, .footer {
  background: #ACD6EA;
}

/* fonts */
body {
  font-family: sans-serif;
}

/* margin & padding */
.header {
  padding: 0 15px;
}
.header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
}
.footer {
  padding: 15px;
  clear: left;
}

/* typo */
p{margin:0 10px 10px}