<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fixed Width, 3 Column</title>
  <link rel="stylesheet" href="../css/fixed-width-3col.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Fixed Width 3 Column Layout</h1>
    </div>
    <div class="main">
      <div class="content">
        <p>Content here.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, aliquid quasi! Aliquam qui fugit, minima recusandae voluptate cupiditate quae officiis, sed voluptas. Laudantium sed, consequuntur commodi quam ut obcaecati autem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolorem neque laboriosam ratione magni hic velit, molestias praesentium perferendis fugit debitis sint natus, voluptates nobis quae labore id recusandae! Itaque!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus vel dolor, officia. Laboriosam doloribus minus ad, voluptatibus perspiciatis maxime illum, dicta, temporibus modi expedita rem velit vel, amet veniam et.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum harum, laborum, dolor fugit est quam tempore recusandae nisi odit assumenda aliquid ut ipsam fugiat esse soluta nulla eum architecto magni.</p>
      </div>
    </div>
    <div class="navigation">
      <p>Navigation Here</p>
      <ul>
        <li><a href="#">Learn HTML</a></li>
        <li><a href="#">Learn CSS</a></li>
      </ul>
    </div>
    <div class="extra">
      <p>More stuff here.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus laudantium commodi velit obcaecati necessitatibus eius tenetur esse consectetur suscipit sit tempore cum recusandae, nisi asperiores rerum accusantium.</p>
    </div>
    <div class="footer">Footer</div>
  </div>
</body>
</html>